# Compiled Java files
*.class

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

# macOS
.DS_Store

# Windows
Thumbs.db

#ignore this, it is some error by vs code nd git hub.

